/* Coolors Exported Palette - https://coolors.co/edede9-d6ccc2-f5ebe0-e3d5ca-d5bdaf */

/* CSS HEX */
--isabelline: #edede9ff;
--timberwolf: #d6ccc2ff;
--linen: #f5ebe0ff;
--champagne-pink: #e3d5caff;
--pale-dogwood: #d5bdafff;

/* CSS HSL */
--isabelline: hsla(60, 10%, 92%, 1);
--timberwolf: hsla(30, 20%, 80%, 1);
--linen: hsla(31, 51%, 92%, 1);
--champagne-pink: hsla(26, 31%, 84%, 1);
--pale-dogwood: hsla(22, 31%, 76%, 1);

/* SCSS HEX */
$isabelline: #edede9ff;
$timberwolf: #d6ccc2ff;
$linen: #f5ebe0ff;
$champagne-pink: #e3d5caff;
$pale-dogwood: #d5bdafff;

/* SCSS HSL */
$isabelline: hsla(60, 10%, 92%, 1);
$timberwolf: hsla(30, 20%, 80%, 1);
$linen: hsla(31, 51%, 92%, 1);
$champagne-pink: hsla(26, 31%, 84%, 1);
$pale-dogwood: hsla(22, 31%, 76%, 1);

/* SCSS RGB */
$isabelline: rgba(237, 237, 233, 1);
$timberwolf: rgba(214, 204, 194, 1);
$linen: rgba(245, 235, 224, 1);
$champagne-pink: rgba(227, 213, 202, 1);
$pale-dogwood: rgba(213, 189, 175, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-right: linear-gradient(90deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-bottom: linear-gradient(180deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-left: linear-gradient(270deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-top-right: linear-gradient(45deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-bottom-right: linear-gradient(135deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-top-left: linear-gradient(225deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-bottom-left: linear-gradient(315deg, #edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);
$gradient-radial: radial-gradient(#edede9ff, #d6ccc2ff, #f5ebe0ff, #e3d5caff, #d5bdafff);